.header {
  width: 100%;
  background-color: white;

  &__title {
    color: var(--cyan);
    font-size: 1.8rem;
    margin-bottom: 2.2rem;
  }

  &__subtitle {
    color: var(--yellow-bright);
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 1.3;
    margin-bottom: 1.6rem;
  }

  &__text {
    color: var(--blue-gray);
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 0.24px;
    margin-bottom: 3px;
    // font-weight: 300;
  }

  @media only screen and(min-width: 660px) {
    &__title {
      font-size: 2.4rem;
      letter-spacing: -0.4px;
    }

    &__subtitle {
      font-size: 1.8rem;
      margin-bottom: 0.9rem;
    }

    &__text {
      font-size: 1.6rem;
      line-height: 1.7;
      font-weight: 300;
      margin-bottom: 0;
    }
  }
}
