main {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;

  @media only screen and (min-width: 660px) {
    flex-direction: row;
  }
}

.container {
  padding: 2.6rem 2.2rem;

  @media only screen and (min-width: 660px) {
    flex-direction: row;
    padding: 4rem 4rem;
  }
}

// .split {
//   width: 48%;
// }
