:root {
  --bg-orange: hsl(31, 77%, 52%);
  --bg-cyan-dark-1: hsl(184, 100%, 22%);
  --bg-cyan-dark-2: hsl(179, 100%, 13%);

  --text-1: hsla(0, 0%, 100%, 0.75); // Transparent white - Paragraphs
  --text-2: hsl(0, 0%, 95%); // Very light gray - Background, headings, buttons
}
