:root {
  --ff-bold: "Big Shoulders Display", cursive;
  --ff-regular: "Lexend Deca", sans-serif;
}

h1 {
  font-family: var(--ff-bold);
  font-size: 4rem;
  font-weight: 700;
  color: var(--text-2);
}

p {
  font-family: var(--ff-regular);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7;
  color: var(--text-1);
}
