.card {
  background-color: var(--blue-700);
  padding: 3rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 30rem;
  position: relative;

  @media only screen and (min-width: 900px) {
    width: 50rem;
  }

  &--rounded-right {
    padding: 3.5rem;
    border-top-right-radius: 9rem;
    gap: 3rem;

    @media only screen and (min-width: 900px) {
      width: 30rem;
    }
  }

  &__logo {
    width: 12rem;
  }
  &__options {
    display: flex;
    gap: 1rem;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
    background-color: var(--blue-900);
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: hsla(229, 57%, 11%, 0.623);
    }
  }
  &__icon {
    &--document {
      width: 1.8rem;
    }
    &--folder {
      width: 2.2rem;
    }
    &--upload {
      width: 2.5rem;
    }
  }
  &__info-text {
    text-align: center;
    color: var(--blue-pale);
    font-size: 1.2rem;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }
  &__storage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  &__progress {
    width: 100%;
    height: 1.8rem;
    background-color: hsla(229, 57%, 11%, 0.4);
    border-radius: 100vh;
    opacity: 1;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 81.5%;
      height: 1.2rem;
      background-image: linear-gradient(to right, var(--gradient));
      top: 0.3rem;
      left: 0.3rem;
      border-radius: 100vh;
    }
    &::after {
      content: "";
      position: absolute;
      width: 0.9rem;
      height: 0.9rem;
      background-color: white;
      left: calc(81.5% - 0.9rem);
      border-radius: 50%;
      top: 0.42rem;
    }
  }
  &__min-storage {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blue-pale);
  }

  &__max-storage {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blue-pale);
  }
  &__storage-left {
    width: 70%;
    height: 6rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -6rem;
    padding: 3.5rem 2rem;

    align-self: center;
    background: white;

    @media only screen and (min-width: 900px) {
      position: absolute;
      width: 14rem;
      padding: 1.5rem 0;
      top: -4rem;
      right: 4rem;

      &::before {
        content: "";
        position: absolute;
        width: 2.3rem;
        height: 3rem;
        bottom: -2rem;
        right: 0;
        background: white;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
      }
    }
  }
  &__storage-left-text {
    font-size: 3.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    span {
      font-size: 1.1rem;
      letter-spacing: 0.6px;
      color: var(--blue-gray);
      display: block;

      @media only screen and (min-width: 900px) {
        font-size: 0.9rem;
      }
    }
  }
}
